:root{
	--fonte-principal: 'Montserrat';
	--cor-inicio: #707070;
	--cor-lista: #2F2E41;
	--vermelho-footer: #D2202C;
	--cinza-footer1: #323237;
	--base: #424146;
	--branco: #FFFFFF;
	--cinza-claro: #F5F5F7;
	--cinza-opaco: #757575;
	--preto: #000000;
	--cinza: #808080;
}

.superior{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	height: 100px;
	box-shadow: 5px 5px 5px var(--cinza-claro);
	column-gap: 1em;

}

.lista__superior{
	text-decoration: none;
	display: flex;
	justify-content: center;
	list-style-type: none;
	column-gap: 1.7em;
	color: var(--cor-lista);
}

a{
	font-weight: 600;
	text-decoration: none;
}

.lista__inicio{
	color: var(--cor-inicio);
	font-family: var(--fonte-principal);
}

.lista__posterior{
	color: var(--cor-lista); 
	font-family: var(--fonte-principal);
}

.botao__superior{
	display: flex;
	justify-content: center;
   	align-items: center;
	border-radius: 20px;
	border: solid 1px;
	height: 40px;
	font-size: 20px;
}

.botao__entrar{
	width: 130px;
	background-color: white;
	color: var(--cor-inicio);
	border-color: var(--cor-inicio);

}

.botao__entrar h3{
	font-family: var(--fonte-principal);
	font-size: 20px;
	font-weight: 600;
}

.botao__cadastrar{
	border-color: var(--cor-inicio);
	width: 160px;
	background-color: var(--cor-inicio);
	color: white;
}

.botao__cadastrar h3{
	font-family: var(--fonte-principal);
	font-size: 20px;
	font-weight: 600;
}

input[type="text"]{
	padding-left: 45px;
}

.lupa{
	padding: 10px 10px 15px 10px;  
}

#textobuscar{
	
	background-color: transparent;
	border-radius: 20px;
	border: solid 3px;
	border-color: var(--cinza-claro);
	color: var(--cor-inicio);
	width: 353px;
	height: 35px;
	vertical-align: bottom;
}

#textobuscar::placeholder {
	font-size: 16px;
	font-family: opensans;
	padding-left: 15px;
	background: url("../../public/img/pesquisar.png") no-repeat;
	background-position: 1em;
}